*{
	margin:0;
	padding:0;
}

#nav-bar
{
	background-color:#0476d0;
	position: sticky;
	top:0;
	z-index:10;
	float:none;
	margin: 10px;
}
.navbar
{
	padding: 0 !important;
}

.navbar-nav li
{
	padding: 0px;
}
.navbar-nav li a
{
color:#012949 !important;
font-weight:600;
float:right;
text-align:left;
}
.table-responsive{
    font-size:1rem;
    color: rgb(3, 3, 3)!important;
}

.navbar-brand{
    font-size: 1.5rem;
    color: #012949!important;

}

.nav-link{
    float: right;
    color: #012949!important;

}

.nav-link:hover{
    background-color: #35A4FB;
}
/* navbar css ends here  */
#main
{
	text-align: center;
background-color:#0476d0;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: #0476d0!important;
    color:#012949!important;
    margin-left: 5px;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: #0476d0!important;
} 