*{
	margin:0;
	padding:0;
}
body
{
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#nav-bar
{
	background-color:#011a2c;
	position: sticky;
	top:0;
	z-index:10;
	float:none;
	margin: 10px;
}

.nav-link:hover{
    background-color:#35A4FB;
}
.navbar
{

    padding: 0 !important;
}
navbar-brand img
{
	height:40px;
	padding-left:20px;
}
.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a
{
color:#fafafa !important;
font-weight:600;
float:right;
text-align:left;
}
.fa-bars
{
	color:#012949;
	font-size:30p !important;
}
.navbar-toggler
{
	outline:none !important;
}
/*---Banner section--*/
#main
{
text-align: center;
background-color:#437eb6;
color:#012949;
padding-top:10px;	
}

.container h1 img{
	padding-bottom: 10px;
}


#features1
{
	text-align: center;
	padding: 10% 15%;
}
 #features
 {
     text-align: center;
	 padding: 14% 30%;
	 background-image: url('https://wallpapercave.com/wp/fto5lYX.jpg');
	 background-repeat: no-repeat;
  	 background-size:cover;
 }
 
 
 .features1 h3
{
	padding:5px;
	margin-top:25px;
	text-transform:uppercase;
}

.features h3
{
	padding:5px;
	margin-top:25px;
	text-transform:uppercase;
}


.title::after
{
	content:'';
	background:#020405;
	height:10px;
	width:50px;
	margin-left:auto;
	margin-right:auto;
    margin-bottom:40px;
    display: block;
	transform:translatey(8px);
}
#features .btn-primary
{
	box-shadow:none;
	padding:10px 25px;
	border:none;
	align-content: center;
	background-image:linear-gradient(to right,#edf1f0,#faf4fa)
}

  #action{
    background-color:#35A4FB;
    padding: 2% 15%;
    text-align: right;
    line-height: 1.5;
    color: rgb(250, 249, 249);
  }



#action h4{
	
	text-align: center;
}

#action h2{
	text-align: center;
}

.main{
    font-size: 3rem;
    line-height: 1.5;
    padding: 10px 0px;
  }
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.button-color{
	background-color: #012949 !important;
}